body{
    background-color: blue;
    color: white;
}

a{
    color: white;
}

h1{
    font-family: "Courier New";
    font-size: 40px;
}

p{
    background-color: red;
    color: yellow;
}

ul{
    background-color: green;
    color: yellow;
    list-style-type: square;
}

ol{
    list-style-type: lower-alpha;
}

li{
    background-color: orange;
    color: brown;
}

nav{
    background-color: lightblue;
    border: 3px solid black;
    color: purple;
}
nav a{
    padding: 100px 100px 100px;
    color: purple;
}

nav a:hover{
    color: yellow;
}

.one{
    background-color: yellow;
    color: red;
}

.two{
    background-color: purple;
    color: lightpink;
}

.three{
    background-color: brown;
    color: yellow;
}